<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="alternate" type="application/atom+xml" title="Posts" href="/feed.xml">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a> &nbsp;
            <a class="blog" href="/blog.html">blog</a> &nbsp;
            <a class="linkedin" href="https://www.linkedin.com/in/lars-a-bergstrom/">linkedin</a> &nbsp;

            <a class="publications" href="http://scholar.google.com/citations?user=1KzsIM8AAAAJ&hl=en">publications</a> &nbsp;
            <a class="github" href="https://github.com/larsbergstrom">github</a> &nbsp;
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Lars Bergstrom<br />
                lars@lars.com
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
